@page
@model ASPNETFastpathTraining.Pages.Modul07.kunden.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kunde</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kunde.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kunde.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kunde.Plz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kunde.Plz)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kunde.Land)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kunde.Land)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kunde.Ort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kunde.Ort)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kunde.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kunde.Datum)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Kunde.KundeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
