@page
@model ASPNETFastpathTraining.Pages.Modul07.kunden.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kunde</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kunde.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kunde.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kunde.Plz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kunde.Plz)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kunde.Land)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kunde.Land)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kunde.Ort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kunde.Ort)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kunde.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kunde.Datum)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Kunde?.KundeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
